.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }

  ion-input{
    margin-bottom: 15px;
  }
  
  ion-button#Agregar {
    margin-top: 20px;
  }
  