<div>
    <form (ngSubmit)="onSubmit()">
    

      <div class="container">
        <div id="head">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="danger">
              <ion-icon name="close"></ion-icon> Cancelar
            </ion-button>
          </ion-buttons>
          <ion-title>Agregar contacto</ion-title>
        </div>
      
        <form (ngSubmit)="onSubmit()" class="form-container">
          <ion-item class="form-item">
            <ion-input id="Nombre"  label="Nombre(s)" name="username" fill="outline" [(ngModel)]="formData.nombre"></ion-input>
          </ion-item>
      
          <ion-item class="form-item">
            <ion-input id="primerApellido" label="Primer apellido"  fill="outline" name="primerApellido" type="text" [(ngModel)]="formData.primerApellido"></ion-input>
          </ion-item>
      
          <ion-item class="form-item">
            <ion-input id="segundoApellido" label="Segundo apellido" fill="outline" name="segundoApellido" [(ngModel)]="formData.segundoApellido"></ion-input>
          </ion-item>
      
          <ion-item class="form-item">
            <ion-input id="numeroCel" label="Telefono celular" fill="outline" name="numeroCel"  [(ngModel)]="formData.numeroCel"></ion-input>
          </ion-item>
          <ion-button id="tomarFoto" (click)="tomarFoto()" color="success" expand="block">Tomar foto</ion-button>
          <ion-button id="Agregar" type="submit" color="success" expand="block">Agregar</ion-button>
        </form>
      </div>
    </form>
</div>