<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="iniciarSesion" *ngIf="!sesionIniciada" expand="block" (click)="openModal()">Iniciar Sesion</ion-button>
      <ion-button id="cerrarSesion" *ngIf="sesionIniciada" expand="block" (click)="cerrarSesion()" color="danger">Cerrar sesion</ion-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="sesionIniciada">
    <div *ngFor="let image of images">
      <ion-accordion-group multiple="true">
        <ion-accordion *ngFor="let contacto of contactos$ | async">
          <ion-list slot="header">
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option color="success">
                  <ion-icon slot="bottom" name="archive"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            
              <ion-item>
                <ion-icon slot="start" name="person-circle"></ion-icon>
                <ion-label>
                  {{contacto.nombre}} {{contacto.primerApellido}} {{contacto.segundoApellido}}
                </ion-label>
              </ion-item>
      
              <ion-item-options side="end">
                <ion-item-option>
                  <ion-icon slot="bottom" name="heart" (click)="agregarFavoritos(contacto)"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger">
                  <ion-icon slot="bottom" name="trash" (click)="deleteContact(contacto.id)"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          
          <!-- Muevo este div dentro del ion-accordion, pero también lo envuelvo con un ion-item para mantener la estructura de la lista -->
          <ion-item slot="content">
          
            <ion-card>
              <img [src]="image" alt="" >
              <ion-card-header>
                <ion-card-title>{{contacto.nombre}} {{contacto.primerApellido}} {{contacto.segundoApellido}}</ion-card-title>
                <ion-card-subtitle>{{contacto.numeroCel}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
 </div>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button id="crearContacto" (click)="setOpen(true)">
    <ion-icon name="person-add" ></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [isOpen]="isModalOpen.isOpen">
  <ng-template>
    <app-agregar-contacto></app-agregar-contacto>
  </ng-template>
</ion-modal>



